.about .container {
  width: 90%;
  margin: 0 auto;
}
.about .boxes {
  display: flex;
  justify-content: space-between;
}
.about .boxes .left {
  width: 50%;
  height: 100vh;
}
.about .boxes .left img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.about .boxes .right {
  width: 50%;
  background-color: red;
  padding: 30px;
}
.about .boxes .right h1 {
  margin-bottom: 50px;
  position: relative;
  transition: 1s;
}
.about .boxes .right h1::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 110px;
  height: 3px;
  background-color: blue;
  animation: decoration 4s linear infinite;
  /* transition: 1s transform;
  transform: scaleX(0);
  transform-origin: right; */
}
/* .about .boxes .right h1:hover::after {
  transform: scaleX(1);
  transform-origin: left;
} */
@keyframes decoration {
  0% {
    transition: 1s transform;
    transform: scaleX(1);
    transform-origin: right;
  }
  25% {
    transition: 2s transform;
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transition: 3s transform;
    transform: scaleX(1);
    transform-origin: left;
  }
  100% {
    transition: 3s transform;
    transform: scaleX(0);
    transform-origin: right;
  }
}

.about .right h3 {
  margin-bottom: 10px;
}
.about .right hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: green;
  margin: 20px 0;
}
.about .right .box,
.img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.about .right img {
  margin-right: 10px;
  width: 25px;
}

.about .box4 p {
  margin-bottom: 30px;
}
.about .box4 .btn {
  padding: 15px;
  font-size: 18px;
  background-color: blue;
  color: white;
  transition: all 0.7s ease;
}
.about .box4 .btn:hover {
  background-color: white;
  color: blue;
}
@media (max-width: 767px) {
  .about .boxes {
    flex-direction: column;
  }
  .about .boxes .left {
    width: 100%;
  }
  .about .boxes .right {
    width: 100%;
  }
}
