.home {
  height: 100vh;
  background-image: url(../../public/images/usmonxon.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .container {
  width: 1200px;
  margin: 0 auto;
}
