.home {
  min-height: 100vh;
  background-image: url(../../public/images/musobaqa2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .container {
  width: 80%;
  margin: 0 auto;
}
.home .container .boxes .box {
  padding-top: 150px;
  color: blue;
}
.home .container .box h1 {
  font-size: 37px;
  margin: 15px 0;
}
.home .container .box h2 {
  color: red;
  font-size: 30px;
  margin-bottom: 50px;
}
.home .boxes .box .link1 {
  padding: 20px;
  font-size: 18px;
  background-color: rgb(15, 15, 15);
  color: #24ecff;
  border-radius: 8px;
  box-shadow: 0 0 0 3px #24ecff, 0 0 0 10px #24ecff22, 0 0 0 15px #24ecff11,
    0 0 30px #24ecff;
  transition: 1s;
  text-shadow: 2px 3px 4px #24ecff;
}
.home .boxes .box .link1:hover {
  background-color: #24ecff;
  color: black;
  box-shadow: 0 0 60px #24ecff;
  text-shadow: 3px 4px 3px black;
}
.home .message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 70px;
}
.home .message a {
  width: 60px;
  height: 60px;
  /* background-color: transparent; */
  padding: 8px;
  border: 1px solid black;
}

.home .box .message img {
  width: 100%;
}

@media (max-width: 576px) {
  .home .container h1 {
    font-size: 30px;
  }
}
